@import 'tailwindcss';

@font-face {
	font-family: 'Fallback';
	src: local(Arial);
	size-adjust: 108%;
	ascent-override: 96%;
	descent-override: normal;
	line-gap-override: 9%;
}

@font-face {
	font-family: 'Luciole';
	src: url('/fonts/Luciole/Luciole-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Luciole';
	src: url('/fonts/Luciole/Luciole-Regular-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Luciole';
	src: url('/fonts/Luciole/Luciole-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Luciole';
	src: url('/fonts/Luciole/Luciole-Bold-Italic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Fledora';
	src: url('/fonts/Fledora-Dirtyn/fledora-dirtyn.regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@theme {
	--font-sans: 'Luciole', 'Fallback', sans-serif;
	--font-fledora: 'Fledora', 'Fallback', sans-serif;
	--color-theme-white: #eaf8ff;
	--color-theme-lightGrey: #696969;
	--color-theme-grey: #3b3b3b;
	--color-theme-darkGrey: #252525;
	--color-theme-black: #171717;
	--color-theme-blue: #00bfff;
	--color-theme-darkBlue: #004c66;
	--color-theme-orange: #ff613e;
	--color-theme-lightOrange: #ffa08b;
	--text-2\.5xl: 1.75rem;
	--text-3\.5xl: 2rem;
	--text-4\.5xl: 2.5rem;
	--text-6\.5xl: 4rem;
	--radius-1\.5xl: 0.875rem;
	--radius-5xl: 2.5rem;
	--radius-6xl: 3rem;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-fledora);
}

.shadow-card-ressource {
	box-shadow: 0px 0px 4px 0px var(--color-theme-blue);
}
